<%//removeIf(mediaOut)%>
    <div class="mediaOut">

<!--     content you want to get rid of.  -->
    
    </div>
<%//endRemoveIf(mediaOut)%>


<div class="container">
    <div id="taskbar-container">
    </div>
    <div class="row">
        <div class="col-12 header">
            <div class="graphic-title"><%= gettext("Iowa")%></div>
            <p class="graphic-subhead"><%= gettext("Live Caucus Results | Feb. 3, 2020")%> </p>
            <p class="timestamp"></p>
            <!-- TIME STAMP AND COUNTER FOR MOBILE -->
            <div class="timing-mobile hidden-sm-up">
                <!-- <p class="timestamp"></p> -->
                <div class="pulse-container">
                    <p class="pulse">
                        <i class="fas fa-circle" style="vertical-align:middle"></i>
                    </p>
                    <p class="counter"></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row dem-row">
         
        <div class="col-sm-12 dem-head">
            <div>

                <p class="party"><%= gettext("Democratic Caucuses")%></p>
            </div>
            <!-- TIME STAMP AND COUNTER FOR DESKTOP -->
            <div class="hidden-xs-down">
                <div class="pulse-container">
                    <p class="pulse">
                        <i class="fas fa-circle" style="vertical-align:middle"></i>
                    </p>
                    <p class="counter"></p>
                </div>
                <!-- <p class="timestamp"></p> -->
            </div>
        </div>
        <div class="col-12">
            <div class="vertical-separator hidden-sm-down"></div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="reuters-chart">
                <div class="reuters-chart table-div"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="reuters-chart chart"></div>
        </div>
        <div class="col-md-12 col-lg-8 note-block">
            <p class="graphic-source">The Iowa Democratic Party reported alignment numbers in 2020 in addition to State Delegate Equivalents (SDEs). &#8220;Final alignment&#8221; represents the number of people who caucused for each candidate in the final round after caucus-goers who lined up with candidates who failed to reach at least 15 percent in the first round are allowed to change groups.</p>
            <p class="graphic-source">Candidate order and percentage are based on State Delegate Equivalents (SDEs), which are the estimated number of state convention delegates each candidate receives based on final alignment. Results are reported by Edison Research for the National Election Pool, which calls the winner.</p>
        </div>
    </div>

    <div class="row rep-row">
        <div class="col-sm-12 rep-head">
            <p class="party"><%= gettext("Republican Caucuses")%></p>
        </div>
        <div class="col-12">
            <div class="vertical-separator hidden-sm-down"></div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="reuters-chart">
                <div class="reuters-chart table-div"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="reuters-chart chart"></div>
        </div>
        <div class="col-md-12 col-lg-8 note-block">
            <p class='graphic-source'>The Republican Party conducts a straw poll at every precinct caucus. The results of the straw poll are the only numbers reported for the Republican Caucuses.</p>
        </div>
    </div>
        
    <div class="row">            
        <div class="col-md-12 col-lg-8 note-block mt-1">
            <p class="graphic-source"><%= gettext("Source: Edison Research for the National Election Pool")%><br /><%= gettext("By Chris Canipe, Ally J. Levine and Sam Hart | REUTERS GRAPHICS")%></p>
        </div>
    </div>
</div>
<div id="reutersGraphic-footer"></div>
<div id="related"></div>


