<div class="container">
    <div id="taskbar-container" class="mediaOut">
    </div>
    <div class="row">
        <div class="col-12 header">
            <div class="graphic-title"><%= gettext(t.config.stateName)%></div>
            <p class="graphic-subhead"><%= gettext(t.config.subhead)%> </p>
            <p class="timestamp"></p>
            <!-- TIME STAMP AND COUNTER FOR MOBILE -->
            <div class="timing-mobile hidden-sm-up">
                <!-- <p class="timestamp"></p> -->
                <div class="pulse-container">
                    <p class="pulse">
                        <i class="fas fa-circle" style="vertical-align:middle"></i>
                    </p>
                    <p class="counter"></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row dem-row">
         
        <div class="col-sm-12 dem-head">
            <div>
                <p class="party"><%= gettext(t.config.demDisplay)%></p>
            </div>
            <!-- TIME STAMP AND COUNTER FOR DESKTOP -->
            <div class="hidden-xs-down">
                <div class="pulse-container">
                    <p class="pulse">
                        <i class="fas fa-circle" style="vertical-align:middle"></i>
                    </p>
                    <p class="counter"></p>
                </div>
                <!-- <p class="timestamp"></p> -->
            </div>
        </div>
        <div class="col-12">
            <div class="vertical-separator hidden-sm-down"></div>
        </div>
        <div class="col-md-6 col-sm-6 table-col">
            <div class="reuters-chart">
                <div class="reuters-chart table-div"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 map-col">
            <div class="chart-map chart"></div>
        </div>
        <div class="col-md-12 col-lg-8 note-block">
            <p class="graphic-source note">Notes: New Hampshire election results are reported at the township level. Townships with no polling places are indicated in dark gray; Michael Bloomberg missed the Nov. 15 filing deadline and is not on the ballot.</p>
        </div>
    </div>

    <div class="row rep-row">
        <div class="col-sm-12 rep-head">
            <p class="party"><%= gettext(t.config.repDisplay)%></p>
        </div>
        <div class="col-12">
            <div class="vertical-separator hidden-sm-down"></div>
        </div>
        <div class="col-md-6 col-sm-6 col-6 table-col">
            <div class="reuters-chart">
                <div class="reuters-chart table-div"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-6 map-col">
            <div class="chart-map chart"></div>
        </div>
        <div class="col-md-12 col-lg-8 note-block">
            <p class='graphic-source note'>Note: New Hampshire election results are reported at the township level. Townships with no polling places are indicated in gray.</p>
        </div>
    </div>
        
    <div class="row">            
        <div class="col-md-12 col-lg-8 note-block mt-1">
            <p class="graphic-source"><%= gettext("Source: Edison Research for the National Election Pool")%><br /><span class='byline'><%= gettext("By Chris Canipe, Ally J. Levine and Sam Hart | REUTERS GRAPHICS")%></span><span class='embed-byline'>REUTERS GRAPHICS</span></p>
        </div>
    </div>
</div>
<div id="reutersGraphic-footer"></div>
<div id="related" class="mediaOut"></div>


